<% post = Post.find(comment.post_id) %>
<div class="comment">
	
	<p class="comment-content"><%= comment.content %></p>
	<p class="comment-posted-by"><%= signature_string(comment.user.username, comment.created_at, comment.updated_at) %></p>

	<% if current_user.admin || comment.user_id == current_user.id %>
		<div class="links">
		<%= link_to "Bearbeiten", edit_topic_post_comment_path(post.topic, post, comment), class: "btn btn-default" %>
		<%= link_to "Löschen", topic_post_comment_path(post.topic, post, comment), class: "btn btn-default", method: :delete, data: { confirm: "Möchten Sie den Kommentar? wirklich löschen?" } %>
		</div>
	<% end %>
	
</div>

