<div class = "container">
<h1>Themen</h1>
<% @topics.each do |topic| %>
<div class="col-md-4">
	<div class="topic">
		<h2 class="topic-title"><%= link_to topic.title, topic_path(topic) %></h2>
		<p class="topic-author"><%= topic.user.email %></p>
	</div>
	
</div>
<% end %>
</div>