<h2 class="hCenter">Beitrag verfassen</h2>
<%= simple_form_for([@topic, @post]) do |f| %>
	<%= f.input :content, label: "Beitrag" %>
	<%= f.button :submit, value: "Speichern", class: "btn-special" %>
	<%= button_to "Abbrechen", :back, class: "btn btn-default btn-special" %>
<% end %>