/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";




/* General styles */

body {
	background-color: #fff;
	font-family: 'Tisa Sans', sans-serif;
}
textarea, input{
	font-family: 'Tisa Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cqwxmrhvtmtvdcekacigyihmahc';
	font-weight: 300;	
}
h1{
	margin-bottom: 2%;
	text-align: center;
}
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a{
	font-family: 'Cqwxmrhvtmtvdcekacigyihmahc';
	font-weight: 300;	
}

.container{
	width: 77%;
}

.alert, .notice{
	text-align: center;
	vertical-align: middle;
	font-family: 'Tisa Sans', sans-serif;
}
.center{
	text-align: center;
	margin: 0 auto;
}
.right{
	text-align: right;
	margin-right: 0px;
	margin-left: auto;
}




/* Button styles */

.btn-custom {
	background-color: #fff;
	color: #e91d45;
	font-family: 'Tisa Sans', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #e91d45;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}
.btn{
	color: #e91d45;
}
.btn:hover, .links .btn-default:hover{
	transition: 0.5s;
	color: #fff;
	background-color: #e91d45;
}
.btn-special{
	/*margin: 0 auto;*/
	font-family: 'Tisa Sans', sans-serif;
	/*font-variant: small-caps;*/
}

.text_icons{
	display: block;
	float: left;
	cursor: pointer;
	cursor: hand;
}
.text_icons + input{
	display: block;
	margin-right: 0px;
	margin-left: auto;
}
.links_right{
	text-align: right;
}


/* Navbar styles */

.navbar {
	font-family: 'Tisa Sans', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0px;
	box-shadow:8px 8px 25px 0 rgba(187,187,187,0.3);
}

.navbar-default {
	background-color: #fff;

	.navbar-brand{
		background-color: #e91d45;
		border: 1.5px solid #e91d45;
		text-align: center;
		color: white;
		line-height: 1.5;
		height: auto;
		font-size: 1.1em;
		margin: 15px 0px;
		font-weight: 700;
		margin-left: -45% !important;
		padding: 1em 1.7em;
	}
	.navbar-brand:hover{
		background-color: #c01335;
		border: 1.5px solid #c01335;
		color: white;
	}
	.navbar-nav{
		margin: 15px;
		margin-left: -5%;
	}
	.navbar-link {
		color: #222;
	}
	.navbar-right{
		color: #e91d45;
		border: 1.5px solid #e91d45;
		padding: 1em 1.7em;
		font-weight: 700;
		font-size: 1.1em;
		margin-right: -5%;
	}
	.navbar-right:hover{
		color: #c01335;
		border: 1.5px solid #c01335;
		text-decoration: none;
	}
}




/* Links styles */

.links {
	margin-top: 20px;
	.btn-default {
		color: #e91d45;
	}
}
.links-btn-group{
	margin-top: 5% auto;
	text-align: center;
}
.form-actions {
	text-align: center;
}




/* User login styles */

.form-inputs input, .edit_post, .edit_topic{
	width: 60%; 
	margin: 0 auto;
}

.form-inputs label{
	font-family: 'Tisa Sans', sans-serif;
	margin-left: 20%;
}
.form-inputs .help-block{
	margin-left: 20%;
}

.hCenter{
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 2%;
}
#new_user{
	margin-bottom: 2%;
}
.edit_post label, .edit_topic label, .topic_title label, .topic_description label{
	font-family: 'Tisa Sans', sans-serif;
}

/* DOES NOT WORK YET! */
.checkbox label{
	padding-left: 1%;
	vertical-align: top;
	color: #a4a4a4;
}
input[id="user_remember_me"]{
	width: 5%;
	margin-left: -3.5%;
}

.btn-bottom[value="Speichern"]{
	float: left;
}
input[value="Registrieren"]{
	margin-top: 5%;
}

.loginAlternativeLinks{
	text-align: center;

	br:nth-child(2){
		float: right;
	}
}
#register, #forgot, #log{
	color: #a4a4a4;
	font-family: 'Tisa Sans', sans-serif;
	font-size: 12px;
}

.loginAlternativeLinks a:nth-child(1):after{
	content: "|";
	margin: 0% 1%;
}
