// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Comment styles */

.comments{
	font-size: 95%;
	color: grey;
	margin-left: 5%;

	.comment-posted-by {
		color: #b2b2b1;
		font-size: 0.8em;
	}
	.links{
		margin-top: 5px;
		margin-bottom: 25px;
	}
	h4{
		cursor: pointer;
		cursor: hand;
	}
}

.all_comments{
	display: none;
	height: 20em;
	overflow-y: scroll;
	padding-right: 1%;
}

.text_icons{
	display: block;
	float: left;
}