<span onClick="appendLink('<%= id %>')" class="glyphicon glyphicon-link glyphicon-form" title="Link anh채ngen"></span>
<!--pan onClick="appendBoldText('<%= id %>')" class="glyphicon glyphicon-bold glyphicon-form" title="Fettgeschriebenen Text einf체gen"></span>
<span onClick="appendItalicText('<%= id %>')" class="glyphicon glyphicon-italic glyphicon-form" title="Kursiven Text einf체gen"></span>
<span onClick="appendColoredText('<%= id %>')" class="glyphicon glyphicon-pencil glyphicon-form" title="Kursiven Text einf체gen"></span-->